{% load static i18n %}


<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <script>document.write(new Date().getFullYear())</script> &copy; Zaco Ticket Support by Zaco Information Technology
            </div>
            <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSealBasic?sealID=pIM5HInZ3OuV9qbltvMY0ScCfHjrUadkazqoGN7J70vGm4WVkO6KaCUaSPgu"></script></span>
            {% comment %} <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-sm-block">
                    <a href="javascript:void(0);">About Us</a>
                    <a href="javascript:void(0);">Help</a>
                    <a href="javascript:void(0);">Contact Us</a>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->