{% extends "dashboard/horizontal_base.html" %}
{% load static i18n %}

{% block head_title%}{% trans "Partner Details" %}{% endblock head_title %}

{% block content %}
<!-- Start Content -->
<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Helpdesk</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Partner</a>
            </li>
            <li class="breadcrumb-item active">{{ partner.name }}</li>
          </ol>
        </div>
        <h4 class="page-title">{{ partner.name }}</h4>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <!-- Partner Details Card -->
      <div class="card d-block">
        <div class="card-body">
          <div class="dropdown float-end">
            <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="dripicons-dots-3"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a href="javascript:void(0);" class="dropdown-item">
                <i class="mdi mdi-pencil me-1"></i>Edit</a>
              <a href="javascript:void(0);" class="dropdown-item">
                <i class="mdi mdi-delete me-1"></i>Delete</a>
              <a href="javascript:void(0);" class="dropdown-item">
                <i class="mdi mdi-email-outline me-1"></i>Email</a>
            </div>
          </div>

          <h3 class="mt-0 font-20">Partner Details</h3>

          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>Partner Name</th>
                  <td>{{ partner.name }}</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Contact Name</th>
                  <td>{{ partner.contact_name }}</td>
                </tr>
                <tr>
                  <th scope="row">Email</th>
                  <td>{{ partner.email_address }}</td>
                </tr>
                <tr>
                  <th scope="row">Contact No</th>
                  <td>{{ partner.contact_no }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Engineers and Regions Section -->
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <ul class="nav nav-tabs nav-bordered">
            <li class="nav-item">
              <a href="#engineers" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                Engineers
              </a>
            </li>
            <li class="nav-item">
              <a href="#regions" data-bs-toggle="tab" aria-expanded="true" class="nav-link active">
                Regions Served by Engineers
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <!-- Engineers Tab -->
            <div class="tab-pane" id="engineers">
              <div class="row">
                <div class="col-lg-10">
                  <h3>Engineers Associated with {{ partner.name }}</h3>
                </div>
                <div class="col-lg-2">
                  <a href="{% url 'engineer_create' partner.pk %}">
                    <button type="button" class="btn btn-primary">Add Engineer</button>
                  </a>
                </div>
              </div>

              <div class="row">
                {% for engineer in partner.engineers.all %}
                <div class="col-lg-3 border-gray border mb-3">
                  <div class="card card-body">
                    <h5 class="card-title">{{ engineer.name }}</h5>
                    <p class="card-text"><strong>Expertise: </strong>{{ engineer.expertise }}</p>
                    <p class="card-text"><strong>Contact No: </strong>{{ engineer.contact_no }}</p>
                    <a href="{% url 'EngineerDetail' engineer.pk %}" class="btn btn-primary">View</a>
                  </div>
                </div>
                {% empty %}
                <p>No engineers associated with this partner.</p>
                {% endfor %}
              </div>
            </div>

            <!-- Regions Tab -->
            <div class="tab-pane show active" id="regions">
              <div class="row">
                <div class="col-lg-10">
                  <h3>Regions Served by Engineers for {{ partner.name }}</h3>
                </div>
                <div class="col-lg-2">
                  {% comment %} <a href="{% url 'RegionCreate' partner.pk %}"> {% endcomment %}
                    <button type="button" class="btn btn-primary">Add Region</button>
                  </a>
                </div>
              </div>

              <div class="row">
                {% for engineer_location in engineer_locations %}
                  <div class="col-lg-12">
                    <h4>{{ engineer_location.engineer.name }} serves in:</h4>
                    <ul>
                      {% for region in engineer_location.regions %}
                        <li>{{ region.name }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% empty %}
                <p>No regions associated with this partner's engineers.</p>
                {% endfor %}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div>
<!-- container -->

{% endblock %}

{% block extra_javascript %}
<!-- Third party js -->
<script src="{% static 'libs/chart.js/Chart.bundle.min.js' %}"></script>
<!-- Third party js ends -->

<!-- Init js -->
<script src="{% static 'js/pages/project-details.init.js' %}"></script>
<!-- Init js end -->
{% endblock %}
