{% extends "dashboard/horizontal_base.html" %}
{% load static i18n %}
{% block head_title %}
  {% trans "Region Detail" %}
{% endblock head_title %}

{% block extra_css %}
  <!-- third party css -->
  <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'libs/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
  <!-- third party css end -->
{% endblock %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <a href="{% url 'location_list' %}">Locations</a>
            </li>
            <li class="breadcrumb-item active">{{ region.name }}</li>
          </ol>
        </div>
        <h4 class="page-title">Region: {{ region.name }}</h4>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!-- Table -->
          <div class="table-responsive">
            <table id="scroll-horizontal-datatable" class="table w-100 nowrap">
              <thead>
                <tr>
                  <th>Partner Name</th>
                  <th>Engineer Name</th>
                </tr>
              </thead>
              <tbody>
                {% for engineer in engineers %}
                  <tr>
                    <td>{{ engineer.partner.name }}</td>
                    <td>{{ engineer.name }}</td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="2">No engineers found in this region.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- End table -->
        </div>
        <!-- end card-body -->
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->

</div>
<!-- end container -->
{% endblock %}

{% block extra_javascript %}
<!-- Third party js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<!-- Third party js ends -->

<!-- Init js -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>
<!-- Init js end -->

{% endblock %}
