{% extends "dashboard/horizontal_base.html" %} {% load static i18n %} 
{% block head_title%} {% trans "Company Details" %}{% endblock head_title %}
{% block extra_css %}

<!-- third party css -->
<link
  href="{% static 'libs/mohithg-switchery/switchery.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'libs/multiselect/css/multi-select.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'libs/select2/css/select2.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'libs/selectize/css/selectize.bootstrap3.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<!-- third party css end -->

{% endblock %}
{% block content %}

<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Helpdeskk</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Ticket</a>
            </li>
            {% comment %}
            <li class="breadcrumb-item active">Responsive</li>
            {% endcomment %}
          </ol>
        </div>
        <h4 class="page-title">Raise Ticket</h4>
      </div>
    </div>
  </div>


      <div class="card">
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3 mb-3">







           
                    <div class="col-md-6">
                      <p>Select Product</p>
                      
                      <select
                        class="form-control"
                        data-toggle="select2"
                        data-width="100%"
                        name = "product"
                      >
                        <option>Select Product</option>
                        {% for amc in amc  %}
                          <option value="{{amc.product.pk}}">{{amc.product}}</option>

                          {% endfor %}
                        
                      </select>
                    </div>
    


                </div>

                <div class="col-md-3 mb-3">
                    <div class="form-floating md-3">
                    <input
                        type="text"
                        class="form-control"
                        id="contact_person"
                        placeholder="Contact person"
                        name = "contact_person"
                    />
                    <label for="contact_person">Contact person</label>
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <div class="form-floating md-3">
                    <input
                        type="text"
                        class="form-control"
                        id="phone_number"
                        placeholder="Phone number"
                        name = "phone_number"
                    />
                    <label for="phone_number">Phone number</label>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-check">
                        <input
                        type="checkbox"
                        class="form-check-input"
                        id="downtime_required"
                        name ="downtime_required"
                        />
                        <label class="form-check-label" for="downtime_required"
                        >Downtime required</label
                        >
                    </div>
                    <div class="form-check">
                        <input
                        type="checkbox"
                        class="form-check-input"
                        id="spare_by_zaco"
                        name = "spare_by_zaco"
                        />
                        <label class="form-check-label" for="spare_by_zaco"
                        >Spare by zaco</label
                        >
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                  <div class="form-floating md-3">
                  <input
                      type="text"
                      class="form-control"
                      id="issue"
                      placeholder="Phone number"
                      name = "issue"
                  />
                  <label for="issue">Problem Overview</label>
                  </div>
              </div>
            </div>

                <div class="row">
                <div class="col-md-6 mb-6">
                    <div class="mb-3">
                        <label for="problem" class="form-label"
                        >Problem</label
                        >
                        <textarea
                        class="form-control"
                        id="problem"
                        rows="5"
                        name ="problem"
                        ></textarea>
                  </div>
                </div>

                <div class="col-md-6">
                    <div class="">
                      <label for="documents" class="form-label"
                        >Upload Reports</label
                      >
                      <input
                        class="form-control"
                        type="file"
                        id="documents"
                        name = "documents"
                        multiple
                      />
                    </div>
                  </div>
            <div class="col-md-6" style="margin-top: 10px;">
            <button
                type="submit"
                class="btn btn-primary btn-rounded waves-effect waves-light">
                submit
          </button>
        </div>
      </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extra_javascript %}

<!-- Third party js -->
<script src="{% static 'libs/selectize/js/standalone/selectize.min.js' %}"></script>
<script src="{% static 'libs/mohithg-switchery/switchery.min.js' %}"></script>
<script src="{% static 'libs/multiselect/js/jquery.multi-select.js' %}"></script>
<script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
<script src="{% static 'libs/jquery-mockjax/jquery.mockjax.min.js' %}"></script>
<script src="{% static 'libs/devbridge-autocomplete/jquery.autocomplete.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>
<!-- Third party js ends -->

<!-- Init js -->
<script src="{% static 'js/pages/form-advanced.init.js' %}"></script>
<!-- Init js end -->

{% endblock %}