{% extends "dashboard/horizontal_base.html" %} {% load static i18n %}
{% block head_title%} {% trans "Company Details" %}{% endblock head_title %}
{% block extra_css %}

<!-- third party css -->
<style>
  .demo {
    height: 500px;
    display: block;
    overflow: auto;
  }

  .msg-right {
    background: #3BA1EE;
    padding: 10px;
    text-align: right;
    color: #fff;
    margin: 5px;
    width: 70%;
    float: right;
    margin-right: 30px;
  }

  .msg-left {
    background: #ddd;
    padding: 10px;
    margin: 5px;
    width: 70%;
    float: left;
    margin-left: 30px;
  }
</style>
<link href="{% static 'libs/spectrum-colorpicker2/spectrum.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/clockpicker/bootstrap-clockpicker.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet"
  type="text/css" />
<link href="{% static 'libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet"
  type="text/css" />


<!-- third party css end -->

{% endblock %}
{% block content %}

<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Helpdesk</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Ticket</a>
            </li>
            {% comment %}
            <li class="breadcrumb-item active">Responsive</li>
            {% endcomment %}
          </ol>
        </div>
        <h4 class="page-title">{{ticket.uuid}} - {{ticket.issue}}</h4>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xl-8 col-lg-7">
      <!-- project card -->
      <div class="card d-block">
        <div class="card-body">
          <div class="float-sm-end mb-2 mb-sm-0">
            <div class="row g-2">
              <div class="col-auto">
                <a href="{% url "TicketList" %}" class="btn btn-sm btn-link"><i class="mdi mdi-keyboard-backspace"></i>
                  Back</a>
              </div>
              <div class="col-auto">
                {% if request.user.is_service_admin == True or ticket.assignee == request.user %}
                {% if ticket.status != 'Closed' %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#close-modal">
                  Close Ticket</button>
                {% elif ticket.status == 'Closed' and ticket.transport_cost == None%}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cost-modal">
                  Add Service Cost</button>
                {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
          <!-- end dropdown-->

          <h4 class="mb-3 mt-0 font-18">
            {{ticket.issue}}
          </h4>

          <div class="clerfix"></div>

          <!-- end row -->

          <div class="row">
            <div class="col-md-6">
              <!-- Reported by -->
              <label class="mt-2 mb-1">Reported By :</label>

              <div class="w-100">
                <p>{{ticket.company|title}} - {{ticket.location|title}}</p>

              </div>
              <!-- end Reported by -->
            </div>
            <!-- end col -->

            <div class="col-md-6">
              <!-- assignee -->
              <label class="mt-2 mb-1">Assigned To :</label>

              <div class="w-100">

                {% if ticket.assignee is None and request.user.is_service_admin == True %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#standard-modal">
                  Assign Ticket</button>
                {% else %}
                <p>{{ticket.assignee.first_name|title}} {{ticket.assignee.last_name|title}}</p>
                {% endif %}
              </div>
            </div>
            <!-- end assignee -->
            <!-- end col -->
          </div>
          <!-- end row -->

          <div class="row">
            <div class="col-md-6">
              <!-- assignee -->
              <label class="mt-2 mb-1">Created On :</label>
              <p>{{ticket.created_at}}</p>
              <!-- end assignee -->
            </div>
            <!-- end col -->

            <div class="col-md-6">
              <!-- assignee -->
              <label class="mt-2 form-label">Status :</label>
              <div class="row">
                <div class="col-auto">
                  {{ticket.status}}

                </div>
              </div>
              <!-- end assignee -->
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->

          <div class="row">
            <div class="col-md-6">
              <!-- Status -->
              <label class="mt-2 form-label">Priority :</label>
              <div class="row">
                <div class="col-auto">
                  {{ticket.priority}}
                </div>
              </div>
              <!-- end Status -->
            </div>
            <!-- end col -->
            {% if ticket.status == "Closed" %}
            <div class="col-md-6">
              <!-- Status -->
              <label class="mt-2 form-label">Closed On :</label>
              <div class="row">
                <div class="col-auto">
                  {{ticket.closed_at}}
                </div>
              </div>
              <!-- end Status -->
            </div>


            <div class="col-md-6">
              <!-- Status -->
              <label class="mt-2 form-label">Cost Involved :</label>
              <div class="row">
                <div class="col-auto">
                  
                  {{costing}}
                </div>
              </div>
              <!-- end Status -->
            </div>
            <!-- end col -->

            <div class="col-md-6">
              <!-- Status -->
              <label class="mt-2 form-label">Amount Returned :</label>
              <div class="row">
                <div class="col-auto">
                  {{ticket.amount_return}}
                </div>
              </div>
              <!-- end Status -->
            </div>


            <div class="col-md-6">
              <!-- Status -->
              <label class="mt-2 form-label">Total Cost :</label>
              <div class="row">
                <div class="col-auto">
                  {{exp}}
                </div>
              </div>
              <!-- end Status -->
            </div>

            <!-- end col -->

            {% endif %}
            <!-- end col -->
          </div>
          <!-- end row -->

          <label class="mt-4 mb-1">Product Description :</label>

          <p class="text-muted mb-0">
            {{ticket.product.description}}
          </p>
          <label class="mt-4 mb-1">Overview :</label>

          <p class="text-muted mb-0">
            {{ticket.problem}}
          </p>
          {% if ticket.status == "Closed" %}
          <label class="mt-4 mb-1">Feedback :</label>

          <p class="text-muted mb-0">
            {{ticket.feedback}}
          </p>
          {% endif %}
        </div>
        <!-- end card-body-->
      </div>
      <!-- end card-->

      <div class="card">
        <div class="card-body">

          <!-- end dropdown-->

          <h4 class="mb-4 mt-0 font-16">Discussion ({{ticket.ticket_message.all.count}})</h4>

          <!-- message-->

          <div class="clerfix"></div>
          <div id="demo" class="demo">
            {% for message in ticket.ticket_message.all %}
            <div class="msg-{% if message.sender == request.user %}right {% else %}left{% endif %}">
                <h5 class="mt-0 mb-1">
                    {{ message.sender.first_name }} {{ message.sender.last_name }}
                </h5>
                {% autoescape off %}
                    {{ message.messages | safe }}
                {% endautoescape %}
                <br />
                <small>{{ message.sent_on }} </small>
            </div>
        {% endfor %}


            <!-- message-->

          </div>
          <div class="border rounded mt-4">
            <form method="post" class="comment-area-box" enctype="multipart/form-data">

              {% csrf_token %}
              <textarea rows="3" class="form-control border-0 resize-none" placeholder="Your message..."
                name="ticket_message"></textarea>
              <div class="
                  p-2
                  bg-light
                  d-flex
                  justify-content-between
                  align-items-center
                ">

                <input type="file" name="document">

                
                
                <button type="submit" class="btn btn-sm btn-success" >
                  <i class="mdi mdi-send me-1"></i>Submit
                </button>
              </div>
            </form>
          </div>
          <!-- end .border-->
        </div>
        <!-- end card-body-->
      </div>
      <!-- end card-->
    </div>
    <!-- end col -->

    <div class="col-xl-4 col-lg-5">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h5 class="card-title font-16 mb-3 mt-2 text-left">Ticket Details</h5>
            </div>
          </div>
          <div class="row align-items-center">
            <p>Ticket Number : <span class="mb-0 font-12">{{ticket.uuid}}</span></p>
            <p>Product : <span class="mb-0 font-12">{{ticket.product}}</span></p>
            <p>AMC : <span class="mb-0 font-12">{{amc.expiry}}</span>: <a href="{% url "AmcDetail" amc.pk %}"> click here to view AMC detail</a></p>
            <p>Downtime Required : <span class="mb-0 font-12">{% if ticket.downtime_required %}Yes {% else %} No{% endif%}</span></p>
            <p>Location : <span class="mb-0 font-12">{{ticket.location}}</span></p>
            <p>On-site Contact Person : <span class="mb-0 font-12">{{ticket.contact_person}}</span></p>
            <p>Phone Number : <span class="mb-0 font-12">{{ticket.phone_number}}</span></p>
            <p>Spare Carried By Zaco : <span class="mb-0 font-12">{% if ticket.spare_by_zaco %}Yes {% else %} No{% endif%}</span></p>
            <p>Address : <span class="mb-0 font-12">{{ticket.location.loc_address}}</span></p>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h5 class="card-title font-16 mb-3">Reports</h5>
            </div>
           
            <div class="col-6 text-end">
              {% if ticket.status != 'Closed' %}
              {% if ticket.sr_engineer == None and ticket.assignee == request.user  %}
              <button type="button" class="btn btn-primary  mb-3" data-bs-toggle="modal" data-bs-target="#sr_eng">
                Involve Sr Engineer</button>
              {% elif ticket.sr_engineer != None%}
              <h5 class="card-title font-16 mb-3">Sr Engineer :{{ticket.sr_engineer.first_name}}</h5>
              {% endif %}{% endif %}
 </div>
</div>

          {% for doc in ticket.documents.all %}

          <div class="card mb-1 shadow-none border">
            <div class="p-2">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="avatar-sm">
                    <span class="
                        avatar-title
                        badge-soft-primary
                        text-primary
                        rounded
                      ">
                      File
                    </span>
                  </div>
                </div>
                <div class="col ps-0">
                  <a href="javascript:void(0);" class="text-muted fw-bold">{{doc.file.name}}</a>
                </div>
                <div class="col-auto">
                  <!-- Button -->
                  <a href="{% url 'download_file' doc.id 'document' %}" class="btn btn-link font-16 text-muted">
                    <i class="dripicons-download"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>


          {% endfor %}


        </div>



      </div>


      {% comment %} <div class="row">
        <div class="col-md-6"> <!-- Adjust the column size as needed -->
          <p class="text-left">Your inline text here</p>
        </div>
        <div class="col-md-6 text-right"> <!-- Adjust the column size as needed -->
          <button class="btn btn-primary">Your Button</button>
        </div>
      </div> {% endcomment %}



      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h5 class="card-title font-16 mb-3 mt-2 text-left">Call Time</h5>
            </div>
            <div class="col-6 text-end">
              {% if request.user.is_service_admin == True or ticket.assignee == request.user and ticket.status != 'Closed' %}
              <button type="button" class="btn btn-primary  mb-3" data-bs-toggle="modal" data-bs-target="#call">
                Schedule call time</button>
                {% endif %}
                

            </div>
            
          </div>

{% if request.user.is_field_engineer == True or request.user.is_sr_engineer == True %}
          
          {% for call in call_filter %}
          
          <div class="card mb-1 shadow-none border">
            <div class="p-2">
              <div class="row align-items-center">
                <div class="col-auto">

                </div>
                <div class="col ps-0">
                  <p class="mb-0 font-14">Call Schedule: {{ forloop.counter }}</p>
                  <p class="mb-0 font-14">Scheduled on : <span class="mb-0 font-12">{{call.schedule}}</span></p>
                  <p class="mb-0 font-16">Engineer: {{call.field_engineer.first_name}} {{call.field_engineer.last_name}}</p>
                  
                  {% if call.clock_in is  None %}
                  <a href="{% url 'ClockIn' call.pk %}" class="btn btn-soft-primary">Clock In</a>
                  {% endif %}
                  {% if call.clock_out is None and call.clock_in is not None %}
                  <a href="{% url 'ClockOut' call.pk%}" class="btn btn-soft-primary ">Clock Out</a>
                  {% endif %}
                  {% if call.clock_out is not None %}
                  
                  <p class="mb-0 font-12">Clocked in on : <span class="mb-0 font-12">{{call.clock_in}}</span></p>
                  
                  <p class="mb-0 font-12">Clocked out on : <span class="mb-0 font-12">{{call.clock_out}}</span></p>
                  
                  <p class="mb-0 font-12">Activity summary : <span class="mb-0 font-12">{{call.update}}</span></p>
                  
                  {% for attachment in call.attachments.all %}
                  <a href="{% url 'view_attachment' attachment.id %}" target="_blank">View Call Summary</a></br>
                  {% endfor %}
                  {% endif %}

                  


                </div>
              </div>
            </div>
          </div>
          {% endfor %}

{% else %}
{% for call in ticket.ticket_call_time.all %}
          <div class="card mb-1 shadow-none border">
            <div class="p-2">
              <div class="row align-items-center">
                <div class="col-auto">

                </div>
                <div class="col ps-0">
                  <p class="mb-0 font-14">Scheduled on : <span class="mb-0 font-12">{{call.schedule}}</span></p>
                  <p class="mb-0 font-16">Engineer: {{call.field_engineer.first_name}} {{call.field_engineer.last_name}}</p>

                  <a href="{% url 'download_file' call.field_engineer.id 'aadhaar_no' %}" class="btn btn-soft-primary">Aadhar</a>
                  <a href="{% url 'download_file' call.field_engineer.id 'covid_cert' %}" class="btn btn-soft-primary ">Vaccination Certificate</a>

                  


                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- end row -->
</div>
<!-- container -->


{% include "support/assign.html" %}
{% include "support/close.html" %}
{% include "support/call.html" %}
{% include "support/eng.html" %}
{% include "support/cost.html" %}




{% block extra_javascript %}
<!-- Third party js -->
<script src="{% static 'libs/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'libs/spectrum-colorpicker2/spectrum.min.js' %}"></script>
<script src="{% static 'libs/clockpicker/bootstrap-clockpicker.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<!-- Third party js ends -->

<!-- Init js -->
<script src="{% static 'js/pages/form-pickers.init.js' %}"></script>
<!-- Init js end -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
<script language="JavaScript" type="text/javascript">
  $('#demo').scrollTop($('#demo')[0].scrollHeight);
</script>
{% endblock %}