{% extends "dashboard/horizontal_base.html" %}
{% load static i18n %}
{% block head_title%}{% trans "Form Components" %}{% endblock head_title %}
{% load crispy_forms_tags %}
<style>
  #my-td{
    height: 380px;
    max-height: 380px;
    scroll-behavior: auto;
    overflow: hidden;
  }
</style>
{% block content %}
<!-- Start Content-->
<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">AMC</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Detail</a>
            </li>
            {% comment %} <li class="breadcrumb-item active">Elements</li> {% endcomment %}
          </ol>
        </div>
        {% comment %} <h4 class="page-title">Create AMC</h4> {% endcomment %}
      </div>
    </div>
  </div>
  <!-- end page title -->


  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <!-- project card -->
      <div class="card d-block">
        <div class="card-body">
          
          <!-- project title-->
          <h3 class="mt-0 font-20">Customer Details</h3>
          <!--company datatable-->
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>Company Name</th>
                  <td>{{company.company_name}}</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Contact Number</th>
                  <td>{{company.company_contact_no}}</td>
                </tr>
                <tr>
                  <th scope="row">Address</th>
                  <td>{{company.address}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--end table-->

        <!-- end card-body-->

        <!-- end card-->

        <!-- end card-->
      </div>
      <!-- end col -->

      <!-- end row -->
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="card">
          <div class="card-body">
          <h3 class="mt-0 font-20">AMC Details</h3>
          <!--AMC datatable-->
          <div class="table-responsive">
            <div class="container">
              <div class="row">
                <div class="col-sm border">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th>AMC Description</th>
                        <td>{{amc.amc_description}}</td>
                      </tr>
                    </thead>
                    <tbody >
                      <tr>
                        <th scope="row">Start Date</th>
                        <td>{{amc.start_date}}</td>
                      </tr>
                      <tr>
                        <th scope="row">End Date</th>
                        <td>{{amc.expiry}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Escalation Matrix 1</th>
                        <td>{{amc.escalation_matrix_1}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Escalation Matrix 2</th>
                        <td>{{amc.escalation_matrix_2}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Escalation Matrix 3</th>
                        <td>{{amc.escalation_matrix_3}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Escalation Matrix 4</th>
                        <td>{{amc.escalation_matrix_4}}</td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
                <div class="col-sm border" style="height:380px;max-height:380px;overflow:auto;scroll-behavior:auto;" >
                  <table class="table mb-0" >
                    
                    <tbody>
                      <h5>SLA</h5>
                      <tr>
                        {% comment %} <th scope="row">SLA</th> {% endcomment %}
                        <td style="">{{amc.sla}}</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              
              </div>
            </div>
         
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="card">
          <div class="card-body">
          <h3 class="mt-0 font-20">Product Details</h3>
          <!--AMC datatable-->
          <div class="table-responsive">
            <div class="container">
              
                <div >
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th>Product Name</th>
                        <th>Model Number</th>
                        <th>Serial Number</th>
                        <th>Created on</th>
                        <th>Description</th>
                        <th>Location</th>
                        
                      </tr>
                    </thead>
                    <tbody >
                      {% for product in products%}
                      <tr>
                        
                        <td>{{product.product_name}}</td>
                        <td>{{product.model_number}}</td>
                        <td>{{product.serial_number}}</td>
                        <td>{{product.created_on}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.location}}</td>
                      </tr>
                      {% endfor %}


                    
                      
                      
                    </tbody>
                  </table>
                </div>
                
              
             
            </div>
         
          </div>

        </div>
      </div>
    </div>

 
    {% endblock %}