<form method="post">
  {% csrf_token %}
  {{ amc_form.as_p }}
  
  <!-- Product Formset -->
  <div id="product-formset">
    {{ products_formset.management_form }}
    {% include 'amc/product_form.html' %}
    {% for form in products_formset %}
      {{ form.as_p }}
    {% empty %}
      No products added.
    {% endfor %}
  </div>
  
  <button type="button" id="add-product">Add Product</button>
  <button type="submit" >Submit</button>
  
  <!-- Your other form content here -->
  <script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

  <script>
    // JavaScript to handle adding new product forms dynamically
    $('#add-product').click(function() {
      var form_idx = $('#id_form-TOTAL_FORMS').val();
      $('#product-formset').append($('#empty-form').html().replace(/__prefix__/g, form_idx));
      $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
  </script>
