{% extends "dashboard/horizontal_base.html" %} 
{% load static i18n %} 
{% block head_title%}{% trans "Form Components" %}{% endblock head_title %} 
{% load crispy_forms_tags %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">AMC</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Create</a>
            </li>
            {% comment %} <li class="breadcrumb-item active">Elements</li> {% endcomment %}
          </ol>
        </div>
        <h4 class="page-title">Create AMC</h4>
      </div>
    </div>
  </div>
  <!-- end page title -->


  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <!-- project card -->
      <div class="card d-block">
        <div class="card-body">
          {% comment %} <div class="dropdown float-end">
            <a
              href="#"
              class="dropdown-toggle arrow-none card-drop"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="dripicons-dots-3"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">
                <i class="mdi mdi-pencil me-1"></i>Edit</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">
                <i class="mdi mdi-delete me-1"></i>Delete</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">
                <i class="mdi mdi-email-outline me-1"></i>Email</a>
            </div>
          </div> {% endcomment %}
          <!-- project title-->
          <h3 class="mt-0 font-20">Customer Details</h3>
          <!--company datatable-->
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>Company Name</th>
                  <td>{{company.company_name}}</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Contact Number</th>
                  <td>{{company.company_contact_no}}</td>
                </tr>
                <tr>
                  <th scope="row">Address</th>
                  <td>{{company.address}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--end table-->

        <!-- end card-body-->

        <!-- end card-->

        <!-- end card-->
      </div>
      <!-- end col -->

      <!-- end row -->
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="card">
          <div class="card-body">
            {% comment %} <h4 class="mb-3 header-title">Create Customer</h4> {% endcomment %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  
  <!-- AMC Form Fields -->
  <div class="row">
    <div class="col-md-6">
      <div>
        <label for="username" class="form-label"
          >AMC Description</label
        >
        <input
          type="text"
          class="form-control"
          id="amc_description"
          name="amc_description"
          placeholder="Enter the description"
        />
      </div>
      <div>
        <label for="contact_number" class="form-label"
          >Start Date</label
        >
        <input
          type="date"
          class="form-control"
          id="startdate"
          name="start_date"
          placeholder="Enter the Start Date"
        />
      </div>
      <div>
        <label for="email" class="form-label">End Date</label>
        <input
          type="date"
          class="form-control"
          id="expiry"
          name="expiry"
          placeholder="Enter the duration in years"
        />
      </div>
      <div>
        <label for="username" class="form-label"
          >Escalation Matrix 1</label
        >
        <input
          type="text"
          class="form-control"
          id="escalation_matrix_1"
          name="escalation_matrix_1"
          placeholder="Enter the escalation matrix 1"
        />
      </div>
      <div>
        <label for="username" class="form-label"
          >Escalation Matrix 2</label
        >
        <input
          type="text"
          class="form-control"
          id="escalation_matrix_2"
          name="escalation_matrix_2"
          placeholder="Enter the escalation matrix 2"
        />
      </div>
      <div>
        <label for="username" class="form-label"
          >Escalation Matrix 3</label
        >
        <input
          type="text"
          class="form-control"
          id="escalation_matrix_3"
          name="escalation_matrix_3"
          placeholder="Enter the escalation matrix 3"
        />
        <div>
          <label for="username" class="form-label"
            >Escalation Matrix 4</label
          >
          <input
            type="text"
            class="form-control"
            id="escalation_matrix_4"
            name="escalation_matrix_4"
            placeholder="Enter the escalation matrix 4"
          />
        </div>
      </div>
    </div>  

      <div class="col-md-6">
        <div>
          <label for="username" class="form-label">SLA</label>
          <textarea
            class="form-control"
            rows="17"
            id="sla"
            name="sla"
            placeholder="Enter the SLA"
          ></textarea>
        </div>
        <div>
          <label for="file">Upload File</label>
          <input type="file" class="form-control" id="file" name="file">
      </div>
    </div>
  </div>
  

  <!-- Product Formset -->
  <div id="product-formset">
    {{ product_formset.management_form }}
    {% for form in product_formset %}
    <div class="row">
      <div class="col-md-3">
        
          <label for="username" class="form-label">Product Name</label>
            {{ form.product_name }}

      </div>
      <div class="col-md-2">
      <label for="username" class="form-label">Model Number</label>
        {{ form.model_number }}
      </div>
      <div class="col-md-2">
      <label for="username" class="form-label">Serial Number</label>
        {{ form.serial_number }}
      </div>
      
      <div class="col-md-2">
      <label for="username" class="form-label">Product Location</label>
        {{ form.location }}
      </div>

      <div class="col-md-3">
      <label for="username" class="form-label">Product Description</label>
      {{ form.description }}
    </div>

  </div>
    {% endfor %}
  </div>
<div class="p-3 ">
  <button type="button" id="add-product" class="btn btn-secondary">Add Product</button>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>

</form>
</div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $('#add-product').click(function() {
    var form_idx = $('#id_products-TOTAL_FORMS').val();
    var newForm = $('#empty-form').html().replace(/__prefix__/g, form_idx);
    $('#product-formset').append(newForm);
    $('#id_products-TOTAL_FORMS').val(parseInt(form_idx) + 1);
  });
</script>

<div id="empty-form" style="display: none;">

  <div class="row">
    <div class="col-md-3">
      
        <label for="username" class="form-label"></label>
          {{ product_formset.empty_form.product_name }}

    </div>
    <div class="col-md-2">
    <label for="username" class="form-label"></label>
      {{ product_formset.empty_form.model_number }}
    </div>
    <div class="col-md-2">
    <label for="username" class="form-label"></label>
      {{ product_formset.empty_form.serial_number }}
    </div>
    
    <div class="col-md-2">
    <label for="username" class="form-label"></label>
      {{ product_formset.empty_form.location }}
    </div>

    <div class="col-md-3">
    <label for="username" class="form-label"></label>
    {{ product_formset.empty_form.description }}
  </div>


  {% comment %} {{ product_formset.empty_form|crispy }} {% endcomment %}
</div>
{% endblock %}