{% extends "dashboard/horizontal_base.html" %} 
{% load static i18n %} 
{% block head_title%}{% trans "Form Components" %}{% endblock head_title %} 
{% block content %}
{% load crispy_forms_tags %}
<!-- Start Content-->
<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Sales Person</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Create</a>
            </li>
            {% comment %} <li class="breadcrumb-item active">Elements</li> {% endcomment %}
          </ol>
        </div>
        <h4 class="page-title">Create User</h4>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          {% comment %} <h4 class="mb-3 header-title">Create Customer</h4> {% endcomment %}

         

          <form action= "" method='POST'  data-parsley-validate="" enctype="multipart/form-data">
            {% csrf_token %}
            {{service_form | crispy}}
          
            <button
              type="submit"
              class="btn btn-primary waves-effect waves-light">
              Submit
            </button>
          </form>
        </div>
        <!-- end card-body-->
      </div>
      <!-- end card-->
    </div>
    <!-- end col -->

    
    <!-- end col -->
  </div>
  <!-- end row -->

  
      </div>
      <!-- end card-->
    </div>
    <!-- end col-->
  </div>
  <!-- end row -->
</div>
<!-- container -->
{% endblock %}{% block extra_javascript %}
<!-- Third party js -->
<script src="{% static 'libs/parsleyjs/parsley.min.js' %}"></script>
<!-- Third party js ends -->

<!-- Init js -->
<script src="{% static 'js/pages/form-validation.init.js' %}"></script>
<!-- Init js end -->
{% endblock %}
