<!-- Standard modal content -->
<div
id="user-modal"
class="modal fade"
tabindex="-1"
role="dialog"
aria-labelledby="standard-modalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="standard-modalLabel">
        Add Location
      </h4>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
         
      <form action= "" method='POST'>
        {% csrf_token %}
        <div class="mb-3">
          <label for="firstnameofUser" class="form-label"
            >Fisrt Name</label
          >
          <input
            type="text"
            class="form-control"
            id="first_name"
            name="first_name"
            
            placeholder="Enter the First Name"
          />
          
        </div>
        <div class="mb-3">
          <label for="firstnameofUser" class="form-label"
            >Last Name</label
          >
          <input
            type="text"
            class="form-control"
            id="last_name"
            name="last_name"
            
            placeholder="Enter the Last Name"
          />
          
        </div>
        <div class="mb-3">
          <label for="username" class="form-label"
            >Username</label
          >
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            
            placeholder="Enter the Username"
          />
          
        </div>
        
        <div class="mb-3">
          <label for="contact_number" class="form-label"
            >Contact Number</label
          >
          <input
            type="number"
            class="form-control"
            id="user_contact_no"
            name="user_contact_no"
            
            placeholder="Enter the User's Contact Number"
          />
          
        </div>
        <div class="mb-3">
          <label for="email" class="form-label"
            >Email</label
          >
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            
            placeholder="Enter the User's Email id"
          />
          
        </div>
        <div class="mb-3 form-check">
          <label for="checking" class="form-check-label"
            >Is Customer Admin</label
          >
          <input
            type="checkbox"
            class="form-check-input"
            id="is_customer_admin"
            name="is_customer_admin"
          />
          
        </div>
        <div class="mb-3">
          <label for="Passowrd1" class="form-label"
            >Password</label
          >
          <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            
            placeholder="Enter the Password"
          />
          
        </div>
        <div class="mb-3">
          <label for="Passowrd2" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            
            placeholder="Enter the confirm Password"
          />
          
        </div>
      
        <button
          type="submit"
          class="btn btn-primary waves-effect waves-light"
        >
          Submit
        </button>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light"
        data-bs-dismiss="modal"
      >
        Close
      </button>
      
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
