{% extends "dashboard/horizontal_base.html" %} {% load static i18n %} 
{% block head_title%} {% trans "Company Details" %}{% endblock head_title %}

{% block extra_css %}

<!-- third party css -->
<link
  href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}"
  rel="stylesheet"
  type="text/css"/>
<link
  href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}"
  rel="stylesheet"
  type="text/css"/>
<!-- third party css end -->

{% endblock %}
{% block content %}

<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        
        <h4 class="page-title">Dashboard </h4>
      </div>
    </div>
          <div class="card">
          <div class="card-body">
            <ul class="nav nav-justified">
              <li class="nav-item">
                <a
                  href="#home1"
                  data-bs-toggle="tab"
                  aria-expanded="false"
                  class="nav-link">
             
                  <div class="widget-rounded-circle card border">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-6">
                          <div class="avatar-lg rounded-circle bg-success">
                            <i class="fe-package font-22 avatar-title text-white"></i>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="text-end">
                            <h3 class="text-dark mt-1">
                              <span data-plugin="counterup">{{ticket|length}}</span>
                            </h3>
                            <p class="text-muted mb-1 text-truncate">Total Ticket</p>
                        </div>
                      </div>
                      <!-- end row-->
                    </div>
                  </div>
                  <!-- end widget-rounded-circle-->
                </div>


                </a>
              </li>
              <li class="nav-item">
                <a
                  href="#profile1"
                  data-bs-toggle="tab"
                  aria-expanded="true"
                  class="nav-link active">
                  
                  <div class="widget-rounded-circle card border">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-6">
                          <div class="avatar-lg rounded-circle bg-success">
                            <i class="fe-message-square font-22 avatar-title text-white"></i>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="text-end">
                            <h3 class="text-dark mt-1">
                              <span data-plugin="counterup">{{ticket_active|length}}</span>
                            </h3>
                            <p class="text-muted mb-1 text-truncate">Active Ticket</p>
                        </div>
                      </div>
                      <!-- end row-->
                    </div>
                  </div>
                  <!-- end widget-rounded-circle-->
                </div>

                
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="#messages1"
                  data-bs-toggle="tab"
                  aria-expanded="false"
                  class="nav-link">
                               
                <div class="widget-rounded-circle card border">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-6">
                        <div class="avatar-lg rounded-circle bg-success">
                          <i class="fe-check-circle font-22 avatar-title text-white"></i>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="text-end">
                          <h3 class="text-dark mt-1">
                            <span data-plugin="counterup">{{ticket_close|length}}</span>
                          </h3>
                          <p class="text-muted mb-1 text-truncate">Closed Ticket</p>
                      </div>
                    </div>
                    <!-- end row-->
                  </div>
                </div>
                <!-- end widget-rounded-circle-->
              </div>


                </a>
              </li>
              
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="home1">
                {% include "support/datatable/all.html" %}
              </div>
              <div class="tab-pane show active" id="profile1">
                {% include "support/datatable/active.html" %}

              </div>
              <div class="tab-pane" id="messages1">
                {% include "support/datatable/closed.html" %}

              </div>

            </div>
          </div>
          </div>




      
    <!-- container -->
    {% endblock %} {% block extra_javascript %}
    
    <!-- Third party js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- Third party js ends -->
    
    <!-- Init js -->
    <script src="{% static 'js/pages/tickets.js' %}"></script>
    <!-- Init js end -->
    
    {% endblock %}
