We would like to inform you that a new ticket has been created with the following details:
Ticket ID: {{ ticket.uuid }}

This ticket has been logged, and we are committed to addressing your concerns promptly. 
To stay updated and engage in further conversation regarding this ticket, please click on the following link: {{ ticket_link }}

We appreciate your cooperation and look forward to resolving this matter to your satisfaction.

If you have any questions or require further assistance, feel free to reach out to our support team on +91 9833500304/ +91 9833500305.
