We would like to inform you that Field Engineer {{call.field_engineer.first_name}} {{call.field_engineer.last_name}} has arrived at your location at {{time}} to commence the scheduled service for Ticket ID: {{ticket.uuid}}.

The service had been scheduled for {{call.schedule}}, and our engineer is ready to ensure a smooth and efficient resolution.

If you have any specific instructions or need further assistance, please feel free to communicate with the field engineer directly. Additionally, you can contact our dedicated support team by clicking on the following link: {{ ticket_link }}.