Ticket ID: {{ticket.uuid}} has been successfully assigned to {{ticket.assignee.first_name}} {{ticket.assignee.last_name}}.
This ticket has been acknowledged, and {{ticket.assignee.first_name}} {{ticket.assignee.last_name}} will be handling the necessary tasks 
and resolutions associated with it. 

To view the details of the ticket and track its progress, you can click on the following link: {{ ticket_link }}

If you have any questions or require further assistance, feel free to reach out to our support team.
