We are pleased to inform you that a new ticket has been created with the following details:
Ticket ID: {{ ticket.uuid }}
This ticket has been logged, and we are committed to addressing your concerns promptly.
To stay updated and engage in further conversation regarding this ticket, please click on the following link:
{{ ticket_link }}
Your login credentials are as follows:
Username: {{ username }}
Password: {{ password }}
We appreciate your cooperation and look forward to resolving this matter to your satisfaction.

If you have any questions or require further assistance, feel free to reach out to our support team on +91 98335 00304 / +91 98335 00305.
